@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Ubuntu:ital,wght@0,500;0,700;1,400;1,500;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
}
html, body{
  /* background-color: rgb(46, 46, 46); */
  background-image: linear-gradient(to right, rgb(46, 46, 46), rgb(173, 173, 173));
  
  font-family: 'Ubuntu', sans-serif;
}
.dropdown-menu .dropdown-item:hover{
      background-color: #4285F4;
      color: white;
}
/* .dropdown:hover>.dropdown-menu{
  display: block;
} */
.ico a img{
  filter: grayscale(100%);
}
.ico a img:hover{
  filter: grayscale(0%);
}
#supportus .container .icons a img{
      width: 3em;
      height: 3em;
      filter: grayscale(100%);
}
#supportus .container .icons a:hover img{
      transform: translateY(-12px);
      filter: grayscale(0%);
}
/* @media only screen and (max-device-width: 768px) {
  
} */